$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;
  
  

  label {
    display: flex;
    margin: 1rem 0;
    color:rgb(189, 17, 137);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(88, 2, 32);
      

        &:hover, &.active {
          background: #fff;
        
        }
      }
    }
  }

  button {
    background: #fff;
    color:rgb(91, 5, 5);
    font-size: 20px;

  }
}