$backgroundColor: #ab608a99;
$borderColor: #c474a0;

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  background-color: &$backgroundColor;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: rgb(150, 3, 106);
    border-top: 1px solid $borderColor;
    padding: 1em 3em;
    margin: 0;
    color: #eee;
    opacity: 95%;
    bottom: 0;
    position: relative;
  }

  header {
    background: rgb(153, 4, 216);
    border-bottom: 1px solid $borderColor;
    color: rgb(237, 234, 234);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    opacity: 95%;
    font-size: 40px;
  }
}

.req {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #e7e7e7;
  opacity: 95%;
  margin: 10;
  padding: 0.5em;
  border: 10px solid #ccc;
}

.url {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #b88bb0;
  opacity: 95%;
  margin: 10;
  padding: 0.5em;
  border: 10px solid #ccc;
  font-size: 30px;
color: rgb(4, 108, 23);
}